@import "./_colors"

.App
  text-align: center
  width: 100%
  height: 100%

  .disclaimer
    color: white
    position: fixed
    left: 1rem
    bottom: 1rem
    .content
      position: relative
      margin: 1rem
      margin-right: 1.6rem
      background: black
      border: 1px solid white
    button
      position: relative
      height: 2rem
      width: 2rem
      background: $secondary
      border: 2px solid $primary
      color: $primary


  .application
    color: $primary
    margin-top: 20vh

    input
      border: 2px solid black

    .number-info
      color: lightgreen
      .warning
        color: #ffb340
      .free
        color: greenyellow
      .normal
        color: cornflowerblue
      .normal-payed
        color: orange
      .payed
        color: orangered
